@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-light: #1c4a64;
  --second-color: #0e2432;
  --three-color: #184259;
  --color-light: white;
  --bg-dark: #111111;
}

body {
  background-color: var(--bg-light);
  color: var(--color-light);
}

.container {
  width: 80%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 0;
}

nav h1 {
  font-size: 32px;
  font-weight: 700;
}

nav .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav .nav-item li {
  margin: 0 16px;
}

nav .nav-item li a {
  color: var(--color-light);
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

nav .button-cv .myCV {
  font-size: 20px;
  font-weight: 600;
  padding: 16px 56px;
  background-color: var(--second-color);
  border: none;
  color: var(--color-light);
  border-radius: 20px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}

header .left {
  /* width: 40%; */
  margin-right: 32px;
}

header .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* width: 50%; */
}

header .left h1 {
  font-size: 72px;
  font-weight: 700;
}

header .left a {
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  margin-top: 8px;
  text-decoration: none;
  color: var(--color-light);
  padding: 16px 44.5px;
  background-color: var(--second-color);
  border-radius: 20px;
}

header .right .rectangle-out {
  width: 457.5px;
  height: 457.5px;
  border-radius: 54px;
  background-color: var(--second-color);
  transform: rotate(-45deg);
  box-sizing: border-box;
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin-top: 100px;
}

header .right .rectangle-in {
  background-color: #122a39;
  width: 100%;
  height: 100%;
  border-radius: 34px;
}

header .right img {
  position: absolute;
  bottom: -120px;
  left: -30px;
  transform: rotate(45deg);
}

header .bottom {
  grid-column: 1 / span 2;
}

/* find-me */
.find-me {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 80px;
}

.find-me p,
.find-me a {
  margin-right: 10px;
}

.find-me p {
  font-size: 20px;
  font-weight: 600;
}

.find-me a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About */
main .about {
  display: grid;
  grid-template-areas:
    "header paragraph"
    "img paragraph";
  margin-top: 105px;
}

.about h1 {
  grid-area: header;
  font-size: 72px;
  font-weight: 700;
  width: 80px;
  line-height: 86.76px;
}

.about img {
  grid-area: img;
  width: 404px;
}

.about .paragraph-about {
  grid-area: paragraph;
  font-size: 24px;
  font-weight: 400;
}

.about .paragraph-about p:not(:last-child) {
  margin-bottom: 51px;
}

/* MySkill */
#about .mySkill {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 55px;
}

#about .mySkill article{
  width: 48%;
}

#about article .head {
  display: flex;
  margin-bottom: 30px;
}

#about article .head .image {
  width: 120px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--three-color);
  overflow: hidden;
  margin-right: 20px;
  /* float: left; */
}

#about article .head h1 {
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.56px;
  /* float: left; */
}

#about article .main span{
  background-color: var(--second-color);
  display: inline-block;
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 31px;
  margin-right: 19px;
}

#about article .head .image img.teknical {
  width: 100px;
  transform: translateY(7px);
}

#about article .head .image img.general {
  width: 75px;
  transform: translate(10px, 22px);
}

/* My Education */
.myEdu{
  margin-top: 72px;
}

.myEdu h1{
  font-size: 72px;
  font-weight: 700;
  width: 404px;
  line-height: 86.76px;
}

.myEdu main{
  display: flex;
}

.myEdu main .left{
  height: 328px;
  flex-basis: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  border-right: 1px solid var(--color-light);
}

.myEdu main .right{
  flex-basis: 40%;
  box-sizing: border-box;
  padding-left: 22px;
  display: flex;
  align-items: center;
}

.myEdu main .right span{
  width: 401px;
  height: 120px;
  display: inline-block;
  border-radius: 25px;
  position: relative;
  background-color: var(--three-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  padding: 20px 0 0 15px;
  box-sizing: border-box;
}

.myEdu main .right span::after{
  content: "";
  display: inline-block;
  transform: rotate(62deg);
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-bottom: 50px solid var(--three-color);
  position: absolute;
  top: -14px;
  left: -8px;
}

/* Working Experience */
.working{
  margin-top: 140px;
}

.working h3{
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 63px;
}

.working p{
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 31.67px;
}

.working h1{
  font-weight: 700;
  font-size: 74.71px;
}

.working h1 span{
  display: block;
  font-weight: 500;
  margin-bottom: 31.67px;
}

.working .main{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 63px;
}

.working .main ul{
  width: 50%;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 30px;
  font-weight: 300;
}

/* Curricular */
.curricular h3{
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 63.33px;
}

.curricular p{
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 31.67px;
}

.curricular h1{
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 31.67px;
}

.curricular .main{
  display: flex;
  justify-content: space-between;
}

.curricular .main ul{
  width: 48%;
  min-width: 463.11px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  font-size: 30px;
  font-weight: 300;
}

/* My Latest Works */
.myWorks{
  margin-top: 194.12px;
}

.myWorks h1{
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}

.myWorks .link{
  width: 480px;
  /* background-color: var(--bg-dark); */
  border-radius: 25px;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.myWorks .link .active{
  border-bottom: 1px solid white;
  opacity: 100%;
}

.myWorks .link .active-dark{
  background-color: #5A80FD;
  opacity: 100%;
}

.myWorks .dark{
  background-color: #121315;
  opacity: 100%;
}

.myWorks .link a{
  font-size: 36px;
  font-weight: 500;
  color: var(--color-light);
  opacity: 50%;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  /* border-radius: 15px; */
}

.myWorks #project{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 64px;
}

.myWorks #project .square{
  background-color: white;
  width: 40%;
  border-radius: 25px;
  padding: 32px 28px;
  margin-bottom: 32px;
}

.myWorks #project .square .image{
  height: 355px;
  background-color: rgb(203, 203, 203);
  border-radius: 25px;
}

.myWorks #project .square h1{
  font-size: 40px;
  font-weight: 700;
  color: black;
  text-align: left;
  margin: 32px 0 16px 0;
}

.myWorks #project .square p{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.myWorks #project .square a{
  color: #1C4A64;
  font-size: 24px;
  font-weight: 400;
}

/* Footer */

footer{
  background-color: #0e2432;
}

footer > .container{
  margin-top: 202px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 250px;
}

footer .container h1{
  margin-top: 52px;
  margin-bottom: 32px;
  font-size: 96px;
  font-weight: 700;
}

footer .container .talk{
  width: 635px;
  height: 84px;
  border-radius: 30px;
  padding: 10px 25px;
  background-color: var(--bg-light);
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  margin-bottom: 171px;
}

footer .container .talk p{
  font-size: 30px;
  font-weight: 600;
}

footer .container .talk span{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

footer .container hr{
  background-color: transparent;
  border: 1px solid white;
  width: 100%;
}

footer .container section{
  width: 100%;
  display: flex;
  flex-direction: row;
}

footer .container section h1{
  min-width: 30%;
  font-size: 32px;
  font-weight: 700;
  margin: 30px 0;
}

footer .container section ul{
  min-width: 70%;
  display: flex;
  list-style: none;
  margin-top: 30px;
}

footer .container section ul a{
  text-decoration: none;
  color: white;
  padding: 58px;
}
/* *{
  outline: 1px solid red;
} */